<h3>Orbit Report</h3>
<table>
    <tr class="header-row">
        <th class="sortable">Name</th>
        <th class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor="let satellite of satellites">
        
        <td [style]="changeColor">{{satellite.name}}</td>
        <td [class.warning]="satellite.shouldShowWarning()">{{satellite.type}}</td>
        <td [style]="changeColor">{{satellite.operational}}</td>
        <td [style]="changeColor">{{satellite.orbitType}}</td>
        <td [style]="changeColor">{{satellite.launchDate}}</td>
        
    </tr> 
    
</table>
